<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adicionar disciplina</title>
</head>
<body>
    
    <h2>Registrar</h2>
    <form action="/disciplinas" method="POST">
        <input type="text" placeholder="Código da disciplina" name="codigo">
        <input type="text" placeholder="Nome" name="name">
        <input type="text" placeholder="Horários" name="horarios">
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>