<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar aluno</title>
</head>
<body>
    <h2>Editar Aluno</h2>
    <% data.forEach(function(details) { %>
        <form action="/aluno/edit/<%= details._id %>" method="POST">
            <label for="">Nome: </label>
            <input type="text" value="<%= details.name %>" name="name">
            <br />
            <button type="submit">Editar</button>
        </form>
    <% }) %>
    <button><a href="/alunos">Todos</a></button>
</body>
</html>