<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar aluno</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <h2>Editar Aluno</h2>
    <% data.forEach(function(details) { %>
        <form action="/aluno/edit/<%= details._id %>" method="POST">
            <label for="">Nome: </label>
            <input type="text" value="<%= details.name %>" name="name">
            <br />
            <button type="submit">Editar</button>
        </form>
    <% }) %>
    <button><a href="/alunos">Todos</a></button>
</body>
</html>