<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles/style.css">
    <title>Home</title>
</head>
<body>
    <h2>Sistemas gerenciador de alunos e disciplinas</h2>
    <button><a href="/alunos">Alunos</a></button>
    <button><a href="/disciplinas">Disciplinas</a></button>
</body>
</html>