<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My CRUD in NodeJS</title>
</head>
<body>
    
    <h2>Registros</h2>
        <table border="1">
            <thead>
                <tr>
                    <td>Matricula</td>
                    <td>Nome</td>
                    <td>Ação</td>
                </tr>
            </thead>
            <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details._id %></td>
                    <td><%= details.name %></td>
                    <td><a href="aluno/edit/<%= details._id %>">Editar</a> - <a href="aluno/delete/<%= details._id %>">Deletar</a></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <button><a href="/aluno">Novo</a></button>
</body>
</html>