<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Alunos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    
    <h2 style="margin: 20px;">Alunos matriculados</h2>
        <table border="1" class="table table-striped table-dark"> 
            <thead>
                <tr>
                    <td scope="col">Matricula</td>
                    <td scope="col">Disciplina</td>
                    <td scope="col">Ação</td>

                </tr>
            </thead>
            <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td><%= details.numMatricula %></td>
                    <td><%= details.codigo %></td>
                    <td><button style="margin-left: 10px;" type="button" class="btn btn-danger" onclick="window.location.href='/delete/<%= details._id %>'">Cancelar Matrícula</button></td>
                    
                </tr>
                <% }) %>
            </tbody>
        </table>
        <button class="btn btn-dark" onclick="window.location.href='/alunos'">Voltar</button>

</body>
</html>